@use '../scss/common/variables' as v;
@use '../scss/common/layout' as *;
@use '../scss/common/mixin' as m;


.burger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 58px;
    left: 3.333%;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
    background-color: #fff6f5;
    height: 210px;
    border-radius: 24px;
    width: 91.7948%;
    text-align: center;


    @include m.mq(pc) {
        visibility: visible;
        font-size: 16px;
        font-weight: bold;
        opacity: 1;
        position: static;
        background-color: #fff;
        height: 60px;
        flex: 1;
    }

    a {
        color: v.$c-title-en;

        @include m.mq(pc) {
            font-size: 24px;
        }
    }

    &-active {
        visibility: visible;
        opacity: 1;
    }



    &__btn {
        position: absolute;
        right: 5%;
        top: 46px;
        display: block;
        width: 24px;
        height: 18px;
        text-align: center;


        @include m.mq(pc) {
            display: none;
        }
    }

    &__bar {
        display: block;
        width: 24px;
        height: 2px;
        margin: 0 auto;
        background-color: #000;
    }

    &__bar:not(:last-child) {
        margin-bottom: 7px;
    }

    &__list {

        @include m.mq(pc) {
            display: flex;
            column-gap: 38px;
            margin-top: 7px;
            margin-right: 7px;
        }
    }
}

.header__nav-list {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    display: block;

    li {
        margin-bottom: 10px;

        @include m.mq(pc) {
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;
            align-items: center;
            margin-bottom: 0;
        }
    }

    @include m.mq(pc) {
        padding: 0;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.3px;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10%;
        width: 100%;
    }
}


.header {
    // position: fixed;
    // top: 0;
    // right: 0;
    // left: 1.1%;
    background-color: #fff;
    padding: 0 3.846% 0 3.333%;
    height: 60px;
    margin-top: 20px;

    @include m.mq(pc) {
        width: 100%;
        margin: 80px auto 0;
        padding: 0;
        top: 1.5%;
        left: 0.4%;
    }

    &__inner {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        @include m.mq(pc) {
            margin: 0 auto;
            justify-content: center;
        }
    }

    &__title {
        font-family: v.$f-main;
        flex: 1;
        font-size: 28px;
        padding-top: 12px;
        padding-left: 2%;

        @include m.mq(pc) {
            font-size: 32px;
            padding-top: 0;
            text-align: center;
            padding-left: 5%;
        }
    }


}

.main {
    margin-top: 60px;

    @include m.mq(pc) {
        margin-top: 100px;
    }
}

.about {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 20px;

    @include m.mq(pc) {
        flex-direction: row-reverse;
        column-gap: 2%;
        max-width: 1800px;
        margin-bottom: 60px;
    }

    &__image {
        flex: 1;
    }

    &__text {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 90%;
        margin: 0 auto;

        @include m.mq(pc) {
            max-width: 76%;
            gap: 40px;
            padding-top: 12%;
        }
    }

    &__title-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 3%;
        font-family: v.$f-sub;

        @include m.mq(pc) {
            margin-bottom: 22px;
            gap: 4%;
        }
    }

    &__line {
        flex-grow: 1;
        max-width: 200px;
        height: 1px;
        background-color: v.$c-line;
    }

    &__title-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #555;
        text-align: center;
    }

    &__title-en {
        font-size: v.$font-size-title-en;
        margin: 0;
        color: v.$c-title-en;
        font-family: v.$f-sub;
    }

    &__title {
        font-size: v.$font-size-title;
        color: #333;
        margin: 0;
        font-family: v.$f-sub;
    }

    &__description {
        text-align: start;
        font-size: 20px;
        padding: 20px 0;

        @include m.mq(pc) {
            font-size: 22px;
            padding: 0 10%;
        }

        span {
            display: block;
        }
    }
}


.skills {
    padding: 80px 20px;
    background-color: #fff6f5;
    text-align: center;

    @include m.mq(pc) {
        max-width: none;
        margin-bottom: 60px;
    }

    &__title-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 3%;
        margin-bottom: 40px;

        @include m.mq(pc) {
            margin-bottom: 22px;
            gap: 4%;
        }
    }

    &__line {
        flex-grow: 1;
        max-width: 200px;
        height: 1px;
        background-color: v.$c-line;
    }

    &__title-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #555;
        text-align: center;
    }

    &__title-en {
        font-size: v.$font-size-title-en;
        margin: 0;
        color: v.$c-title-en;
        font-family: v.$f-sub;
    }

    &__title {
        font-size: v.$font-size-title;
        color: #333;
        margin: 0;
        font-family: v.$f-sub;
    }

    &__catch {
        font-size: 20px;
        margin-bottom: 32px;
        color: #555;
        text-align: start;
        font-weight: bold;

        @include m.mq(pc) {
            max-width: 800px;
            margin: 0 auto 32px;
            font-size: 22px;
        }
    }

    &__inner {
        max-width: 90%;
        margin: 0 auto;
    }

    &-box {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        max-width: 800px;
        margin: 0 auto;

        @media (min-width: 768px) {
            grid-template-columns: 1fr 1fr 1fr;
            max-width: 1800px;

        }
    }


    &__item {
        background-color: #fff;
        border-radius: 12px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;

        // &:hover {
        //     transform: translateY(-5px);
        // }
    }

    &__li {
        font-size: 28px;
        margin-bottom: 14px;
        color: #2c3e50;

        @include m.mq(pc) {
            font-size: 30px;
        }
    }

    &__description {
        font-size: 20px;
        color: #555;
        text-align: left;
        font-weight: bold;

        @include m.mq(pc) {
            font-size: 22px;
        }
    }
}

.works {
    // background-color: #eef3ee;
    padding: 40px 20px;

    @include m.mq(pc) {
        max-width: none;
        margin-bottom: 60px;
    }

    &__title-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 3%;
        margin-bottom: 40px;

        @include m.mq(pc) {
            margin-bottom: 22px;
            gap: 4%;
        }
    }

    &__line {
        flex-grow: 1;
        max-width: 200px;
        height: 1px;
        background-color: v.$c-line;
    }

    &__title-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #555;
        text-align: center;
    }

    &__title-en {
        font-size: v.$font-size-title-en;
        margin: 0;
        color: v.$c-title-en;
        font-family: v.$f-sub;
    }

    &__title {
        font-size: v.$font-size-title;
        color: #333;
        margin: 0;
        font-family: v.$f-sub;
    }

    &__comment-box {
        max-width: 90%;
        margin: 0 auto 32px;

        @include m.mq(pc) {
            max-width: 70%;
            text-align: center;
        }
    }

    &__description {
        font-size: 22px;
    }


    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
        row-gap: 70px;

        @include m.mq(pc) {
            column-gap: 20px;
            justify-content: center;
        }
    }

    &__item {
        background-color: #fff;
        border-radius: 12px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
        width: calc(100% - 40px);

        @include m.mq(pc) {
            width: calc(33.333% - 40px);
        }

        // &:hover {
        //     transform: translateY(-5px);
        // }
    }
}

.contact {
    background-color: #f3eae7;
    padding: 40px 20px;

    @include m.mq(pc) {
        max-width: none;
    }

    &__title-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 3%;
        margin-bottom: 40px;

        @include m.mq(pc) {
            margin-bottom: 22px;
            gap: 4%;
        }
    }

    &__line {
        flex-grow: 1;
        max-width: 200px;
        height: 1px;
        background-color: v.$c-line;
    }

    &__title-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #555;
        text-align: center;
    }

    &__title-en {
        font-size: v.$font-size-title-en;
        margin: 0;
        color: v.$c-title-en;
        font-family: v.$f-sub;
    }

    &__title {
        font-size: v.$font-size-title;
        color: #333;
        margin: 0;
        font-family: v.$f-sub;
    }

    &__box {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 20px;


        @include m.mq(pc) {
            width: 70%;
            font-size: 22px;
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.bi-x {
    margin-right: 2px;
}


.footer {
    background-color: #ebe5e5;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    color: #777;

    @include m.mq(pc) {
        font-size: 16px;
    }
}