@charset "UTF-8";

// ページ全体のスタイル
body {
    overflow-x: hidden;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.75;
    color: #000;
}

a {
    text-decoration: none;
    color: #000;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

li {
    list-style: none;
}

// 部品
.container {
    padding: 0 3.846% 0 3.333%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0;
    }

    .container-narrow {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
    }

    .container-wide {
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
    }
}