// 変数定義

//-----------------------------------
//Font
//------------------------------------

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Noto+Sans+JP:wght@100..900&display=swap");


// Font Family
$f-main: 'Noto Sans JP', sans-serif;
$f-sub: 'Montserrat', sans-serif;


//-----------------------------------
//Color
//-----------------------------------
$c-black: #000;
$c-cream: #f8f4e3;
$c-brown: #473221;


//base
$c-main: #fff;

//line
$c-line: #777;

// title-en
$c-title-en: #0a0a0a;


//-----------------------------------
//Break Point
//-----------------------------------
$breakpoints: (
    sp: 'screen and (max-width: 767px)',
    pc: 'screen and (min-width: 768px)',
);


//-----------------------------------
//Base Width
//-----------------------------------
$base-width-sp: 390px;
$base-width-pc: 1400px;

//-----------------------------------
//Contents Width
//-----------------------------------
$width-main: 1100px;
$width-wide: 1200px;
$width-narrow: 960px;


//-----------------------------------
//font-size
//-----------------------------------
$font-size-title: 34px;
$font-size-title-en: 26px;